@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Marck Script";
  src: url("./MarckScript-Regular.woff2") format("woff2");
  font-weight: 400;
}
