.header {
  width: 100%;
}

.header__logo {
  font-family: "Marck Script";
  font-weight: var(--txt-regular);
}

.header .container {
  display: flex;
  align-items: center;
}

.burger__menu {
  width: 25px;
  height: 16px;
  flex-direction: column;
  justify-content: space-between;
}

.burger__menu.active ~ .popup__nav {
  transform: translateY(0);
}

.burger__check {
  width: 30px;
  height: 16px;
  opacity: 0;
  z-index: 3;
}

.burger__menu span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: var(--color-beige);
  border-radius: 2px;
  transition: 0.1s linear;
}

.burger__menu.active span:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 7px;
}
.burger__menu.active span:nth-child(2) {
  display: none;
}
.burger__menu.active span:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  bottom: 7px;
}

.popup__nav {
  flex-direction: column;
  text-align: center;

  background-color: var(--color-dark-brown);
  opacity: 0.95;

  font-size: 20px;

  gap: 20px;
  padding: 64px 12px 12px 12px;
  position: fixed;
  inset: 57px 0 0 0;
  z-index: 2;

  transition: all 0.15s linear;
  transform: translateY(100vh);
}

.header .nav {
  gap: 25px;
}

.nav__item {
  transition: 0.1s linear;
}

.nav__item:active,
.nav__item:hover {
  color: var(--color-milk-brown);
}

.nav__item.nav__active {
  text-decoration: underline;
  font-weight: var(--txt-bold);
}
