@import url(./basic.css);
@import url(./header.css);
@import url(./footer.css);

.calculator {
  height: 600px;
}

.calculator .container {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.calculator__form__wrapper {
  background-color: var(--color-dark-beige);
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  color: var(--color-white);
  border-radius: 20px;
  padding: 30px;
}

.calculator__form__wrapper label {
  /* font-weight: var(--txt-bold); */
  font-size: 20px;
}

.calculator__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.calculator__form__wrapper select,
.calculator__form__wrapper input {
  width: 100px;
}

.calculator__form__button {
  color: var(--color-beige);
  background-color: var(--color-milk-brown);
  font-size: 18px;
  padding: 8px;
  border: none;
  border-radius: 7px;
}

.calculator__products {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
}

.calculator__total {
    font-size: 30px;
    font-weight: var(--txt-bold);
}
